<div class="container_12">
	<div class="grid_3">
		<h1>Populärt just nu</h1>
	</div>
	<div class="grid_3">
		<h1>Fem senaste</h1>
	</div>
	<div class="grid_6">
		<h1>Fem senaste medlemmarna</h1>
	</div>
</div>

