/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 
*/
@import "fontfaces.css";
@import "960.css";
@import "will_paginate.css";
table {
  margin: 2em 0;
  width: 100%;
  text-align: left;
  tr.even {
  	height: 50px;
    text-align: center;
    border-bottom: 1px solid red; 
    background: red;
  }
  tr.odd {
  	height: 50px;
    text-align: center;
    border-bottom: 1px solid red;
    background: #f2f2f2; 
  }
}

body {
    margin:0;
    padding:0;
    color:#464646;
    background: url(/assets/main-bg.gif) repeat-x;
    font-family: "verdana";
    font-size: 12px;

  }
  #wrap {
    width:950px;
    margin:0 auto;
  }
  img
  {
    border: none;
  }
  #header {
    padding:5px 10px;
    background:#ddd;
    background: url(/assets/bg_header.png) no-repeat;
    height: 85px;
    margin-left: -11px;
    border: none;

  }
  #header a
  {
   

  }
  tr.even
  {
     height: 100px;
  }
  tr.odd
  {
     border-bottom: 1px solid red;
     background: #f2f2f2; 
     height: 100px;
     border-radius: 5px;
  }
  table {
  margin: 2em 0;
  width: 100%;

  }
  table a
  {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
  }
  h1 {
      margin:0;
      font-family: 'Quattrocento';
      color: #90ce45;
      font-size: 30px;
      margin-bottom: 5px;
      text-shadow: 0px 1px 1px #464646;
    }
  div#five_latest a 
  {
    text-decoration: none;
    font-size: 14px;
  }
  div#logout_btn
  {
    margin-left: 90px;
  }
  div#tipholder
  {
    background: #e3e3e3;
    width: 830px;
    padding: 5px;
    clear: none;
  }
  div#boxbody
  {
    background: white;
    width: 800px;
    border-radius: 5px;
    min-height: 100px;
    margin-bottom: 0px;
    padding: 0 9px 9px;

  }
  div.imageHolder
  {
    float: left;
    height: 123px;
    margin-right: 10px;
    margin-top: 9px;
    padding: 5px 5px 5px 11px;
    width: 168px;
    border-right: 1px dotted #DDDDDD;

  }
  div.infoHolder
  {
    float: left;
    margin-top: 10px;
    margin-left: 40px;
    min-width: 270px;
    max-width: 270px;
    height: 123px;
    border-right: 1px dotted #DDDDDD;
    clear: right;

  }
  div.userHolder
  {
    float: left;
    margin-top: 10px;
    margin-left: 40px;
    width: 170px;
     height: 123px;
    border-right: 1px dotted #DDDDDD;

  }
  div.infoHolder a 
  {
    text-decoration: none;
    font-size: 14px;
  }
  #logos
  {
    margin-left: 30px;
    margin-top: 5px;
  }
  #nav {
    margin-top: -4px;
  }
  #nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #nav ul li {
    float: left;
    margin: 0;
    padding: 0;
   
  }
  #login
  {
   margin-left: -70px;
  
  }
  #header-inner
  {
  
    margin-left: -10px;
    height: 200px;
    background: url(/assets/middle.png) no-repeat;
  }
  #main {
    float:left;
    width:1010px;
    padding:10px;
    background: url(/assets/content_bg.png) repeat-y;
    margin-top: 10px;
    margin-left: -58px;
  }
  #content
  {
    margin-left: 100px;
  }
  #admin_menu
  {
    float: left;
    position: relative;
    margin-left: 200px;
    width: 200px;
  }
  h2 {
    margin:0 0 1em;
  }
  #sidebar {
    float:right;
    margin-top: 300px;
    width:230px;
    padding:10px;
    background:#99c;
  }
  #footer {
    clear:both;
    width: 1050px;
    height: 100px;
    margin-left: -56px;
    padding:5px 10px;
    background: url(/assets/footer.png) no-repeat;  }
  #footer p {
    margin-left: -40px;
    color: #ffffff;
    text-align: center;
    }
  * html #footer {
    height:1px;
  }


div#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 100;
}

div#login_form {
    position: absolute;
    top: 50%;
    left: 50%;
    width:620px;
    height: 310px;
    margin-top: -200px;
    margin-left: -300px;
    z-index: 20;
    background:url(/assets/login_box.png) no-repeat;
}



div#logo {
   
    width: auto;
    height: auto;
    position: absolute;
    margin-left: 90px;
    margin-top: 13px;
}
div#sign_in_btn
{
  height: 50px;
  position: absolute;
  margin-left: 720px;
  margin-top: -55px;
}
div#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 10;
}

div#login_form {
    position: absolute;
    top: 50%;
    left: 50%;
    width:620px;
    height: 310px;
    margin-top: -200px;
    margin-left: -300px;
    z-index: 20;
    background:url(/assets/login_box.png) no-repeat;
}
div#login_form form
{
  width: 400px;
  margin-top: 85px;
  margin-left: 40px;
}

input[type=text]{
  background:url('/assets/login_input.gif');
  background-repeat:no-repeat;
  padding-left:10px;
  border: none;
  width: 312px;
  height: 42px;
  color: #437182;
} 
input[type=password]{
  background:url('/assets/login_input.gif');
  background-repeat:no-repeat;
  padding-left:10px;
  border: none;
  width: 312px;
  height: 42px;
  color: #437182;
} 

form.rounded input[type=submit]{
  background:url('/assets/submit_styled.png');
  background-repeat:no-repeat;
  padding-left:10px;
  border: none;
  width: 312px;
  height: 42px;
} 

.contentcontainer {
    /*background: url("/assets/content-bg.png") repeat scroll 0 0 transparent;*/
    margin-bottom: 12px;
    overflow: hidden;
    padding: 0 0 10px 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 630px;
   
}
div#over_head
{
  background:url(/assets/bg_header.png) no-repeat;
  width: 1024px;
  height: 130px;
  margin-left: 35px;
  margin-top: -85px;
}
div#over_advert
{
  background:url(/assets/middle.png) no-repeat;
  width: 1024px;
  height: 200px;
  margin-left: 35px;
  margin-top: 1px;
}
div#topmenu
{
  width: 550px;
  height: 50px;
  margin-left: 445px;
  margin-top:0px;
}
#topmenu li
{
float: left;
margin: 0 0.15em;
} 
div#left_menu
{
  float: left;
  background:url(/assets/left_menu.png) no-repeat;
  width: 280px;
  height: 305px;
  margin-left: -115px;
  margin-top: -2px;
}
.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #C66;
  &:first-letter { text-transform: uppercase; }
}

div.error_messages
{
  background: #E64970;
  padding: 5px;
  color: #ffffff;
  border: 1px solid #9C4359;
  border-radius: 5px;
}
div#flash_notice
{
  background: #B0ED8A;
  padding: 5px;
  color: #000000;
  border: 1px solid #9AD177;
  border-radius: 5px;
}