/* CSS Document */
body{overflow-x:hidden; padding:0; margin:0; background:url(/assets/main-bg.gif) 0 0 repeat-x #FFFFFF; font:14px/20px Arial, Helvetica, sans-serif; color:#3D3C2C; font-weight:normal;}
div, p, h1, h2, h3, ul, img{padding:0px; margin:0px;}
ul{list-style-type:none;}
h1{
  height:48px;  display:block;  padding:0 0 0 27px; font:28px/48px Georgia, "Times New Roman", Times, serif; color:#3D3C2C;
}
input[type=text]
{
 
}
div#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 10;
}

div#login_form {
    position: absolute;
    top: 50%;
    left: 50%;
    width:100%;
    height: 100%;
    margin-top: -200px;
    margin-left: -300px;
    z-index: 20;
    background:url(/assets/login_box.png) no-repeat;
}
div#login_form p
{
  width: 400px;
  margin-top: 85px;
  margin-left: 40px;
}


form.rounded input[type=text]{
  background:url('/assets/ftext.png');
  background-repeat:no-repeat;
  padding-left:10px;
  border: none;
  width: 312px;
  height: 32px;
  color: #437182;
} 
form.rounded input[type=password]{
  background:url('/assets/ftext.png');
  background-repeat:no-repeat;
  padding-left:10px;
  border: none;
  width: 312px;
  height: 32px;
  color: #437182;
} 
form.rounded input[type=submit]{
  background:url('/assets/submit_styled.png');
  background-repeat:no-repeat;
  padding-left:10px;
  border: none;
  width: 312px;
  height: 42px;
} 
div#wrapper {
height: 100%;
width: 1024px;
margin-right: auto;
margin-left: auto;

}
.contentcontainer {
    background: url("/assets/content-bg.png") repeat scroll 0 0 transparent;
    margin-bottom: 12px;
    overflow: hidden;
    padding: 0 0 10px 10px;
    position: relative;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 850px;
    margin-left: auto-10px;
}
div#over_head
{
  background:url(/assets/bg_header.png) no-repeat;
  width: 1024px;
  height: 130px;
  margin-left: 35px;
  margin-top: -85px;
}
div#over_advert
{
  background:url(/assets/middle.png) no-repeat;
  width: 1024px;
  height: 200px;
  margin-left: 35px;
  margin-top: 1px;
}
div#topmenu
{
  width: 550px;
  height: 50px;
  margin-left: 545px;
  margin-top:0px;
}
#topmenu li
{
float: left;
margin: 0 0.15em;
} 
div#content
{
   margin-left: -14px;
   margin-top: 6px;
   width: 1100px;
   background:url(/assets/content_bg.png) repeat-y;
}
/* TOP PANEL */
#topPan{width:778px; height:178px; position:relative; margin:0 auto; padding:0; top: 50;}
/* Menu Panel */
#topPan ul{width:520px; height:96px; display:block; position:absolute; top:0px; right:9px; margin:0; padding:0;}
#topPan ul li{float:left; width:104px; display:block; text-align:center;}
#topPan ul li a{width:104px; height:35px; display:block; font:14px/14px "Trebuchet MS",Arial, Helvetica, sans-serif; color:#2E4E00; background:url(/assets/menu-bg.gif) 0 0 repeat-x none; text-decoration:none; margin:0; padding:61px 0 0 0; }
#topPan ul li a:hover{ width:104px; height:96px; display:block; background:none; color:#2E4E00; text-decoration:none;}
#topPan ul li span{width:104px; height:35px; display:block; background:url(/assets/menu-devider1.gif) 100% 0 no-repeat #FCFAE6; color:#2E4E00; text-decoration:none; padding:61px 0 0 0; line-height:14px;}

/* /TOP PANEL */

/* HEADER PANEL */
#headerPan{width:778px; height:307px; position:relative; margin:0 auto; padding:0;}
#headerPan h1{width:526px; height:21px; position:absolute; top:35px; right:0px;}
#headerPanleft{ width:237px; height:214px; position:absolute; top:48px; left:9px;}
#headerPan #ourblog{ float:left; width:237px; height:62px; position:relative; margin:0 auto; background:url(/assets/icon1-nor.gif) 0 0 no-repeat;}
#headerPan #ourblog h2{width:90px; height:10px; background:#fff; display:block; position:absolute; left:0px; top:0px; margin:14px 0 5px 81px; font:16px/14px Georgia, "Times New Roman", Times, serif; color:#CC0000; z-index:1; text-transform:uppercase;}
#headerPan #ourblog p{width:103px; height:10px; display:block; position:absolute; font:12px/14px "Trebuchet MS",Arial, Helvetica, sans-serif; color:#2E5000; background:#fff; margin:34px 0 0 81px; z-index:1; }
#headerPan #ourblog a{text-decoration:none; display:block; width:237px; height:62px;}
#headerPan #ourblog a:hover{text-decoration:none; background:url(/assets/icon1-hover.gif) no-repeat 0 0;}

#headerPan #possib{ float:left; width:237px; height:62px; position:relative; margin:13px 0 0 0; background:url(/assets/icon2-nor.gif) 0 0 no-repeat;}
#headerPan #possib h2{width:90px; height:10px; background:#fff; display:block; position:absolute; left:0px; top:0px; margin:14px 0 5px 81px; font:16px/14px Georgia, "Times New Roman", Times, serif; color:#CC0000; z-index:1; text-transform:uppercase;}
#headerPan #possib p{width:103px; height:10px; display:block; position:absolute; font:12px/14px "Trebuchet MS",Arial, Helvetica, sans-serif; color:#2E5000; background:#fff; margin:34px 0 0 81px; z-index:1; }
#headerPan #possib a{text-decoration:none; display:block; width:237px; height:62px;}
#headerPan #possib a:hover{text-decoration:none; background:url(/assets/icon2-hover.gif) no-repeat 0 0;}

#headerPan #solution{ float:left; width:237px; height:62px; position:relative; margin:13px 0 0 0; background:url(/assets/icon3-nor.gif) 0 0 no-repeat;}
#headerPan #solution h2{width:90px; height:10px; background:#fff; display:block; position:absolute; left:0px; top:0px; margin:14px 0 5px 81px; font:16px/14px Georgia, "Times New Roman", Times, serif; color:#CC0000; z-index:1; text-transform:uppercase;}
#headerPan #solution p{width:103px; height:10px; display:block; position:absolute; font:12px/14px "Trebuchet MS",Arial, Helvetica, sans-serif; color:#2E5000; background:#fff; margin:34px 0 0 81px; z-index:1; }
#headerPan #solution a{text-decoration:none; display:block; width:237px; height:62px;}
#headerPan #solution a:hover{text-decoration:none; background:url(/assets/icon3-hover.gif) no-repeat 0 0;}

/* BODY PANEL */
#bodyPan{width:778px; height:387px; position:relative; margin:0 auto; padding:0;}
/*Left Panel */
#leftPan{width:239px; height:611px; position:absolute; top:0px; left:8px; margin:0; padding:0px;}
#leftmemberPan{width:237px; height:196px; position:relative; margin:0 auto; padding:0; border:1px solid #DCDAC2; background:#fff; color:#000;}
#leftmemberPan h2{height:48px; background:url(/assets/symbol4.gif) 0 0 no-repeat #fff; display:block; position:relative; padding:0 0 0 57px; margin:12px 0 20px 13px; font:16px/48px  Georgia,"Times New Roman", Times, serif; color:#5EA000; text-transform:uppercase;}
#leftmemberPan h2 span{background:#fff; color:#3D3C2C;}
#leftPan form{width:220px; height:108px; background:#EBE9D7; padding:0; margin:0 0 0 8px; color:#333227;}
#leftPan form label{width:72px; display:block; float:left; padding:14px 15px 0 16px; }
#leftPan form label.emailpadding{padding:2px 15px 0 16px;}
#leftPan h3{height:48px; background:#FCFAE6; display:block; float:right; padding:0 0 0 57px; margin:12px 0 22px 13px; font:28px/48px Georgia, "Times New Roman", Times, serif; color:#3D3C2C;}
#leftPan ul{ display:block; float:right; width:150px; height:327px;}
#leftPan ul li{background:url(/assets/arrow3.gif) 140px 10px no-repeat; padding:0px 20px 0 0; text-align:right;} 
#leftPan ul li a{text-decoration:underline; color:#3D3C2C; background:#FCFAE6;}
#leftPan ul li a:hover{text-decoration:none;}

#leftPango{width:220px; height:25px; position:absolute; top:160px; left:8px; border-top:1px solid #fff; background:#B0AD93; display:block; padding:0; margin:0; font-size:12px; color:#FFFFFA; line-height:23px; font-weight:bold;}
#leftPango p.textposition a{float:left; padding:0 0 0 20px; margin:0; text-decoration:none; color:#FFFFFA; background:#B0AD93;}
#leftPango p.textposition a:hover{text-decoration:underline; background:none;}
#leftPango a:hover{background:url(/assets/arrow4.gif) no-repeat 30px 1px #333229; text-decoration:none; color:#fff;}

/*/Left Panel */
/*Right Panel */
#rightPan{width:504px; height:275px; position:absolute; top:-299px; right:350px;  background:#fff; color:#3D3C2C;}
#rightbodyPan{width:684px; height:255px; position:absolute; top:10px; left:10px; background:none; color:#3D3C2C;}
#rightbodyPan p{padding:0 30px 10px;}
#rightbodyPan p.redtext{background:#FCFAE6; color:#CC0000; font-size:18px; line-height:20px; padding:0 80px 26px;}
#rightbodyPan p span{background:#FFFFFA; color:#3D3C2C;}
#rightbodymore{width:306px; height:25px; border:1px solid #fff; background:#B0AD93; display:block; padding:2px; margin:0 60px 0 80px; font-size:12px; color:#FFFFFA; line-height:25px; font-weight:bold;}
#rightbodymore p.textposition{float:left; padding:0 0 0 20px; margin:0;}
#rightbodymore a{float:right; background:url(/assets/arrow4.gif) no-repeat 58px 1px #63614F; width:66px; display:block; position:relative; margin:1px 0 0 0; padding:0 0 0 10px; height:23px; text-decoration:none; color:#fff; font:14px/23px "Trebuchet MS",Arial, Helvetica, sans-serif; text-transform:uppercase;}
#rightbodymore a:hover{background:url(/assets/arrow4.gif) no-repeat 58px 1px #333229; text-decoration:none; color:#fff;}
#rightbodyPan h3{width:268px; height:31px; display:block; position: relative; background:url(/assets/symbol6.gif) 100% 0 no-repeat #FCFAE6; padding:24px 0 0 0; font:28px/28px Georgia, "Times New Roman", Times, serif; color:#3D3C2C; margin:27px 0 20px 80px ;}
#rightbodyPan ul{width:328px; height:92px; position:relative; top:5px; left:80px; margin:0 0 30px 0;}
#rightbodyPan li{width:340px; background:url(/assets/arrow2.gif) 0 7px no-repeat; font:14px/24px Arial, Helvetica, sans-serif; padding:0 0 0 20px;}
#rightbodyPan li a{width:235px; height:60px; background:#FCFAE6; color:#CC0000; text-decoration:underline; line-height:24px;}
#rightbodyPan ul li a:hover{width:235px; height:60px;  text-decoration:none; line-height:24px;}

#rightbodymorenext{width:306px; height:25px; border:1px solid #fff; background:#B0AD93; display:block; padding:2px; margin:0 60px 0 80px; font-size:12px; color:#FFFFFA; line-height:25px; font-weight:bold;}
#rightbodymorenext p.textposition{float:left; padding:0 0 0 20px; margin:0;}
#rightbodymorenext a{float:right; background:url(/assets/arrow4.gif) no-repeat 58px 1px #63614F; width:66px; display:block; position:relative; margin:1px 0 0 0; padding:0 0 0 10px; height:23px; text-decoration:none; color:#fff; font:14px/23px "Trebuchet MS",Arial, Helvetica, sans-serif; text-transform:uppercase;}
#rightbodymorenext a:hover{background:url(/assets/arrow4.gif) no-repeat 58px 1px #333229; text-decoration:none; color:#fff;}

/* /BODY PANEL */

/* FOOTER PANEL */
#footerPan{width:778px; height:231px; position:relative; margin:0 auto; padding:0;}
#footernextPan{width:506px; height:150px; position:absolute; top:0px; right:10px; background:#B0AD93; color:#fff; margin:0;}
#footerPan ul{width:380px; display:block; position:absolute; right:40px; top:33px; }
#footerPan li{float:left; font:12px/15px "Trebuchet MS",Arial, Helvetica, sans-serif; font-weight:normal;}
#footerPan ul li a{padding:0 10px; color:#FFFFFA; background:#B0AD93; text-decoration:none;}
#footerPan ul li a:hover{text-decoration:underline;}
#footerPan ul li a.padl{padding:0 0 0 14px;}

#footerPan ul.templateworld{width:190px; background:#B0AD93; color:#fff; display:block; position:absolute; top:110px; right:49px;}
#footerPan ul.templateworld li a{background:#B0AD93; display:block; color:#fff; text-decoration:none;}
#footerPan ul.templateworld li a:hover{text-decoration:underline;}

#footerPan p{ background:#B0AD93; margin:54px 45px 0 0; display:block; position:absolute; top:0px; right:40px; color:#FCFAE6; font:12px/15px "Trebuchet MS",Arial, Helvetica, sans-serif;}
#footerPanhtml{width:64px; height:19px; display:block; position:absolute; top:78px; right:170px;}
#footerPanhtml a{width:59px; height:19px; background:url(/assets/arrow5.gif) no-repeat 45px 0px #D0CEB8; display:block; position:absolute; top:0px; left:0px; margin:0; padding:0 0 0 5px; border:1px solid #FFFFFA; color:#353427; text-transform:uppercase; text-decoration:none;}
#footerPanhtml a:hover{background:url(/assets/arrow5.gif) no-repeat 45px 0px #B0AD93; color:#353427; text-decoration:none;}

#footerPancss{width:64px; height:19px; display:block; position:absolute; top:78px; right:89px;}
#footerPancss a{width:59px; height:19px; background:url(/assets/arrow5.gif) no-repeat 45px 0px #D0CEB8; display:block; position:absolute; top:0px; left:0px; margin:0; padding:0 0 0 5px; border:1px solid #FFFFFA; color:#353427; text-transform:uppercase; text-decoration:none;}
#footerPancss a:hover{background:url(/assets/arrow5.gif) no-repeat 45px 0px #B0AD93; color:#353427; text-decoration:none;}
#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
  margin-right: 150px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.field_with_errors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

form .field, form .actions {
  margin: 12px 0;
}
