<h1>Din profilsida</h1>
  <p>
    <strong>Ditt namn:</strong>
    <%= current_user.name %>
  </p>
  <p>
    <strong>Inoggad med:</strong>
    <%= current_user.provider %>
  </p>
  <!--<p>
    <strong>OmniAuth UID:</strong>
    #current_user.uid
  </p>-->
 